
body {
    --laurel-green: #aab290;
    --old-rose: hsla(2, 43%, 64%, 1);
    --cyclamen: hsla(335, 99%, 69%, 1);
    --pink-sherbet: hsla(347, 86%, 74%, 1);
    --spanish-pink: hsla(2, 67%, 82%, 1);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: cursive;
    background-color: var(--spanish-pink);
}

main {
    background-image: url('https://specials-images.forbesimg.com/imageserve/5f5e2ee61350549ea0586841/960x0.jpg?fit=scale');
    background-repeat: no-repeat;
    background-position: center;
}

.mad-lib-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 20px;
    justify-content: space-between;
    margin-bottom: calc(var(--footer-height));
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.7rem;
}

#input-hide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    max-width: 40%;
    font-size: 1.2rem;
}

#right {
    display: none;
    font-family: cursive;
    font-size: 1.7rem;
    background:  linear-gradient(rgb(62, 160, 122), rgba(62, 160, 122, 1)); 
    box-shadow: 10px 10px gold;
}

.text {
    display: none;
}

.text2 {
    display: none;
}

input {
    border-radius: 15px;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--pink-sherbet);
    height: var(--header-height);
    box-shadow: var(--shadow);
    align-items: center;
    font-size: 4rem;
    font-family: cursive;
    width: fit-content;
    block-size: fit-content;
    contain: content;
}

h1 {
    font-size: 5.5vw;
}

content {
    width: 100%;
    padding: 50px;
}

.radio-button{
    display: grid;
    justify-content: left;
    
}

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

  button {
      margin: 25px;
  }